<div class="col-6 mex-auto">
  <h1><%= @task.title %></h1>
  <blockquote><%= @task.details %></blockquote>
  <button class="btn btn-warning"><%= link_to "Edit the task", edit_task_path %></button>
  <br>
  <a ><%= link_to "Back to the list", tasks_path %></a>


</div>
